[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2 = "*"
pytz = "*"
django-crispy-forms = "*"
djangorestframework = "*"
python-decouple = "*"
dj-database-url = "*"
django-heroku = "*"
django-bootstrap4 = "==22.1"
crispy-bootstrap5 = "*"
fontawesomefree = "*"

[dev-packages]

[requires]
python_version = "3.8"
